<div class ="container">
    {{#each fish}}
<<<<<<< HEAD
    <div class= "fish-list">
        <a href="/fish/{{id}}"><img class="img-circle" src= "{{image}}" alt ="{{name}}</a>
=======
    
    <div class= "fish-list">
        <a href="/fish/{{id}}"><img class="img-circle" src= "{{image}}" alt ="{{name}}"</a>
>>>>>>> 266e39786d446405b157ed6c23b4bce32e1b5508
    </div>
    {{/each}}
</div>