<div class="fish">
    <img class='img-circle' src='{{image}}' alt='{{name}}'>
    <h2>{{name}}</h2>
    <div>Breed:{{breed}}</div>
    <div>owner:{{owner}}</div>
    <a href='/fish/edit/{{id}}'>Edit</a>
</div>